---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
  {{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description }}

Use `data "zstack_global_configs"` to inspect valid `category` and `name` pairs for the target ZStack environment before managing a global config.

{{ .SchemaMarkdown | trimspace }}

## Import

Import is supported using the following syntax:

```shell
terraform import zstack_global_config.example <uuid>
```
